<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.linyanan.studyapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyApplication">
        <activity android:name=".ListActivity"></activity>
        <activity android:name=".Fragment.FragmentActivity" />
        <activity android:name=".FragmentManager.FragmentManagerActivity" />
        <activity android:name=".ObjectAnimationActivity" />
        <activity android:name=".RollDiceActivity" />
        <activity android:name=".ImageSwitcherGridViewActivity" />
        <activity android:name=".ImageButtonImageViewActivity" />
        <activity android:name=".FABCoordinatorLayoutActivity" />
        <activity android:name=".MaterialDesignActivity" />
        <activity android:name=".MoraActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".NumberPickerActivity" />
        <activity android:name=".RadioGroupActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".NormalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>